<html>
<body class = "bodyfq">
<h1>Fat Quarter Projects</h1>
<div class = "fqwords">
<p>Fat quarter projects are excellent stash busters! </p>
<p>1/4 of left over from a project or a design made from scratch, FQ's are great for gifts.</p>

<p>
  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2012/07/turn-recipes-into-tea-towels/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2012/07/tea-towel_2.jpg" width="250" height="250"></a>
    <div class ="description">Recipe Tea Towels</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/04/raglan-t-shirt-refashion-diy-raglan-tee/#more-21435">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2017/04/IMG_4790.jpg" width="250" height="250"></a>
    <div class ="description">T-shirt Refashion</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/01/the-diy-cacti-you-need-in-your-life-right-now/#more-20872">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2017/01/4-2-1024x767.jpg" width="250" height="250"></a>
    <div class ="description">Catus Stuffies</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/01/diy-reversible-bowl-covers/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2017/01/finalredbowl.jpg" width="250" height="250"></a>
    <div class ="description">Bowl Covers</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/01/the-secret-to-sewing-perfect-mitered-corners/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2017/01/2.jpg" width="250" height="250"></a>
    <div class ="description">Napkins</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/12/sweet-and-simple-holiday-zipper-pillow-tutorial/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2016/12/christmas_cushion1.jpg" width="250" height="250"></a>
    <div class ="description">Custom Pillow Cover</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/11/diy-an-embroidered-fabric-wall-hanging-for-the-holidays/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2016/11/IMG_7055.jpg" width="250" height="250"></a>
    <div class ="description">Tapestry</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/10/learn-to-make-a-plushie-dog-toy-for-under-5-00/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2016/10/Olive_play2.jpg" width="250" height="250"></a>
    <div class ="description">Dog Toys</div></div>

  <div class ="imagecontainer"><a href="http://blog.spoonflower.com/2016/09/halloween-placemat-tutorial/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2016/08/placemats2-1024x681.jpg" width="250" height="250"></a>
    <div class ="description">Placemats</div></div>

  <div class ="imagecontainer"><a href=" https://blog.spoonflower.com/2016/06/diy-scrap-fabric-necklace/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2016/06/cover-2.jpg" width="250" height="250"></a>
    <div class ="description">Fabric Necklace</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/06/turn-your-photos-into-canvas-wall-art-with-spoonflower/">
    <img border="0" src="https://blog.spoonflower.com/wp-content/uploads/2016/06/joleen-full-canvas.png" width="250" height="250"></a>
    <div class ="description">Photo Canvas</div></div>
</p>


<div class= "mybuttonz">
  <%= link_to "Home", static_pages_home_path %>
  <%= link_to "swatch", static_pages_swatch_path %>
  <%= link_to "fat quarter", static_pages_fq_path %>
  <%= link_to "one yard", static_pages_yard_path %>
  <%= link_to "multiple yards", static_pages_yardage_path %>
</div>


</div>
</body>
</html>
