<!DOCTYPE html>
<html>
<body>
<h1>What Will You Create?</h1>
<div class ="words">

<p>Do you ever just want to sew with no project in mind? The impulse to create has a tendency to sneak up on one.</p>
<p>Perhaps you are eying a specific design on <a href="https://www.spoonflower.com"> Spoonflower</a> but you can't think of something to make.</p>
<p> Or maybe you are looking for ways to use up your fabric stash?</p>
<p> Fear not! No matter the size of fabric, there is a project that can be done.</p>
<p>Just click on the size of fabric you are working with!</p>
<p>
  <div class= "mybuttonz">
  <%= link_to "Swatch", static_pages_swatch_path %>
  <%= link_to "Fat quarter", static_pages_fq_path %>
  <%= link_to "One Yard", static_pages_yard_path %>
  <%= link_to "Multiple Yards", static_pages_yardage_path %>
  <%= link_to "Resources", static_pages_resources_path %>
  </div>
  <br></br>
  <p>
  <img src= "https://blog.spoonflower.com/wp-content/uploads/2017/06/Chiffon_fabric-samples.jpg">
</p>
</p>


</div>
</body>
</html>
