<html>
<body class = "resourcebody">
<h1>More Handy Information</h1>
<div class = "resourcewords">
  <p>Looking for more help? Look no further! </p>

<div class ="imagecontainer"><a href="https://support.spoonflower.com/hc/en-us/articles/208352886-Recommended-Needles-and-Threads">
  <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2013/03/6a00e5523f5f4d8834017c378e610f970b.jpg" width="250" height="250"></a>
  <div class ="description">Which Needle and Thread Should I Use</div></div>

<div class ="imagecontainer"><a href="https://support.spoonflower.com/hc/en-us/articles/204444760-How-to-care-for-Spoonflower-fabrics?t=343292">
  <img class ="imageborder" src="http://ghk.h-cdn.co/assets/16/41/1600x2400/gallery-1476371572-choosing-washing-machine.jpg" width="250" height="250"></a>
  <div class ="description">How do I Care for my Fabric?</div></div>

<div class ="imagecontainer"><a href="https://support.spoonflower.com/hc/en-us/articles/208214393-What-Fabric-Should-I-Use-For-My-Project-">
  <img class ="imageborder" src="http://spoonflower.typepad.com/.a/6a00e5523f5f4d8834016302e0b7fb970d-800wi" width="250" height="250"></a>
  <div class ="description">Which Fabric Type Do I Need?</div></div>

<div class ="imagecontainer"><a href="https://support.spoonflower.com/hc/en-us/articles/204499930-Faux-Suede-Sewing-Tips">
  <img class ="imageborder" src="http://a2.typepad.com/6a01bb0805c7f6970d01bb0824cc8a970d-pi" width="250" height="250"></a>
  <div class ="description">Faux Suede Sewing Tips</div></div>

<div class ="imagecontainer"><a href="https://support.spoonflower.com/hc/en-us/articles/204499880-Performance-Piqu%C3%A9-Sewing-Tips">
  <img class ="imageborder" src="http://a2.typepad.com/6a0192abac60ce970d01b8d1559c32970c-800wi" width="250" height="250"></a>
  <div class ="description">Performance Piqué Sewing Tips</div></div>

<div class ="imagecontainer"><a href="https://support.spoonflower.com/hc/en-us/articles/204468750-Which-knit-fabric-should-I-buy-">
  <img class ="imageborder" src="http://a0.typepad.com/6a01bb0805c7f6970d01b7c82c5d18970b-800wi" width="250" height="250"></a>
  <div class ="description">Which Knit Fabric Should I Buy?</div></div>

  <p>Still not what you are looking for? </p>
<p>You can check out the <a href= "https://support.spoonflower.com/hc/en-us">Spoonflower Help Center</a> or contact <a href= "https://www.spoonflower.com/feedback/new">Customer Service</a> for more support!

  <div class= "mybuttonz">
    <%= link_to "Home", static_pages_home_path %>
    <%= link_to "Swatch", static_pages_swatch_path %>
    <%= link_to "Fat Quarter", static_pages_fq_path %>
    <%= link_to "One Yard", static_pages_yard_path %>
    <%= link_to "Multiple Yards", static_pages_yardage_path %>
    <%= link_to "Quilts", static_pages_quilt_path %>
    <%= link_to "Suggestions", static_pages_suggestions_path %>
  </div>
