<html>
<body class = "suggestbody">
<h1>Suggestions</h1>
<div class = "suggestwords">
  <p>Do you have a tutorial you are dying to see? An idea for something amazing you'd like to make but don't know how to start?</p>
  <p>Add a new suggestion below and encourage your friends to vote! The suggestion with the most votes will be added to our list of projects!</p>




  <div class= "mybuttonz">
    <%= link_to "Home", static_pages_home_path %>
    <%= link_to "Swatch", static_pages_swatch_path %>
    <%= link_to "Fat Quarter", static_pages_fq_path %>
    <%= link_to "One Yard", static_pages_yard_path %>
    <%= link_to "Resources", static_pages_resources_path %>
  </div>

</div>
</body>
</html>
