<html>
<body class = "whatbody">
<h1>What is a Fat Quarter?</h1>
<div class = "whatwords">
  <p>To put it simply a fat quarter is 1/4 of a yard of fabric. </p>
  <p><a href="https://wwww.spoonflower.com">Spoonflower</a> has a wide variety of fabrics in widths ranging from 42 up to 60 inches.</p>
  <p>While all fat quarters are 18 inches long, their widths depend entirely on the total width of the yard.</p>









  <div class= "mybuttonz">
    <%= link_to "Home", static_pages_home_path %>
    <%= link_to "Swatch", static_pages_swatch_path %>
    <%= link_to "Fat Quarter", static_pages_fq_path %>
    <%= link_to "One Yard", static_pages_yard_path %>
    <%= link_to "Resources", static_pages_resources_path %>
    <%= link_to "Suggestions", suggestions_path %>
  </div>
