<html>
<body class = "whatbody">
<h1>What is a Fat Quarter?</h1>
<div class = "whatwords">
  <p>To put it simply a fat quarter is 1/4 of a yard of fabric. </p>
  <p><a href="https://wwww.spoonflower.com">Spoonflower</a> has a wide variety of fabrics in widths ranging from 42 up to 60 inches.</p>
  <p>While all fat quarters are 18 inches long, their widths depend entirely on the total width of the yard.</p>
  <p>Hover over the width size below and see all the fabrics in that width.</p>

  <div class="dropdown">
    <div class = "dropdowntitle"
  <span>21" x 18"</span>
</div>
  <div class="dropdown-content">
    <p>Basic Cotton Ultra</p>
    <p>Kona Cotton Ultra</p>
    <p>Cotton Poplin Ultra</p>
  </div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle"
  <span>27" x 18"</span>
</div>
<div class="dropdown-content">
  <p>Satin</p>
  <p>Chiffon</p>
  <p>Silky Faille</p>
  <p>Linen Cotton Canvas Ultra</p>
  <p>Minky</p>
  <p>Eco Canvas</p>
  <p>Faux Suede</p>
</div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle"
<span>28" x 18"</span>
</div>
<div class="dropdown-content">
  <p>Perfomance Piqué</p>
  <p>Perfomance Knit</p>
  <p>Organic Sweet Pea Gauze</p>
  <p>Modern Jersey</p>
  <p>Fleece</p>
  <p>Organic Cotton Knit</p>
  <p>Organic Cotton Sateen</p>
  <p>Sport Lycra</p>
</div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle"
<span>29" x 18"</span>
</div>
<div class="dropdown-content">
  <p>Heavy Cotton Twill</p>
  <p>Lightweight Cotton Twill</p>
</div>
</div>

<div class="dropdown">
  <div class = "dropdowntitle"
<span>30" x 18"</span>
</div>
<div class="dropdown-content">
  <p>Cotton Spandex Jersey</p>
</div>
</div>

  <div class= "mybuttonz">
    <%= link_to "Home", static_pages_home_path %>
    <%= link_to "Swatch", static_pages_swatch_path %>
    <%= link_to "Fat Quarter", static_pages_fq_path %>
    <%= link_to "One Yard", static_pages_yard_path %>
    <%= link_to "Resources", static_pages_resources_path %>
    <%= link_to "Suggestions", suggestions_path %>
  </div>
