<html>
<body class = "bodyyardage">
<h1>More Yardage</h1>
<div class = "yardagewords"
<p>Go big or go home! This page has projects that need more than one yard to complete!</p>

<p>
  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/05/your-guide-to-sewing-the-perfect-curtains/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/04/17004_1588.jpg" width="250" height="250"></a>
    <div class ="description">Curtains</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/04/how-to-create-the-chocolate-milk-tent-of-your-kids-dreams/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/04/17004_0199-e1491321685186.jpg" width="250" height="250"></a>
    <div class ="description">Play Tent</div></div>

  <div class ="imagecontainer"><a href="http://blog.spoonflower.com/2015/08/custom-duvet-cover/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2015/08/6a0192abac60ce970d01bb08635106970d-800wi.png" width="250" height="250"></a>
    <div class ="description">Duvet Cover</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/04/sewing-along-with-the-bombshell-swimsuit/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/08/IMG_5768-1024x682.jpg" width="250" height="250"></a>
    <div class ="description">Bathing Suit</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2017/02/fleece-sweatshirt-sew-along-with-burdastyle/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2017/02/fleecepullover.jpg" width="250" height="250"></a>
    <div class ="description">Fleece Sweatshirt</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/09/how-to-make-a-no-sew-double-sided-fleece-tie-blanket/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/09/9-1024x728.jpg" width="250" height="250"></a>
    <div class ="description">Fleece Blanket</div></div>

  <div class ="imagecontainer"><a href="https://blog.spoonflower.com/2016/05/custom-laptop-case/">
    <img class ="imageborder" src="https://blog.spoonflower.com/wp-content/uploads/2016/05/6a00e5523f5f4d883401bb09008159970d-800wi.png" width="250" height="250"></a>
    <div class ="description">Laptop Case</div></div>

</p>

<div class= "mybuttonz">
  <%= link_to "Home", static_pages_home_path %>
  <%= link_to "Swatch", static_pages_swatch_path %>
  <%= link_to "Fat Quarter", static_pages_fq_path %>
  <%= link_to "One Yard", static_pages_yard_path %>
  <%= link_to "Resources", static_pages_resources_path %>
  <%= link_to "Suggestions", suggestions_path %>
</div>

</div>
</body>
</html>
