<p id="notice"><%= notice %></p>

<html>
<h1>Suggestions</h1>
<body class = "suggestbody">
<div class = "suggestwords">
<p>Don't see the project you'd like to complete on our site? Let us know! The suggestions with the most votes will be posted, so tell your friends!</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suggestions.each do |suggestion| %>
      <tr>
        <td><%= link_to suggestion.title, suggestion %></td>
        <td><%= pluralize(suggestion.votes.count, "vote") %></td>
        <td><%= button_to 'I like this!', upvote_suggestion_path(suggestion), method: :post %></td>
        <td><%= link_to 'Terminate', suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class= "mybuttonz">
  <%= link_to "Home", static_pages_home_path %>
  <%= link_to "Swatch", static_pages_swatch_path %>
  <%= link_to "One Yard", static_pages_yard_path %>
  <%= link_to "Multiple Yards", static_pages_yardage_path %>
  <%= link_to "Resources", static_pages_resources_path %>
  <%= link_to 'New Suggestion', new_suggestion_path %>
</div>


</div>
</body>
</html>
