<p id="notice"><%= notice %></p>

<html>
  <h1>Suggestions</h1>
    <body class = "suggestbody">
      <div class = "suggestwords text">
        <%= render 'layouts/buttons' %>
        <br><br><br>
        <p>Don't see the project you'd like to complete on our site? Let us know! The suggestions with the most votes will be posted, so tell your friends!</p>
        <p>
          <table>
            <thead>
              <tr>
                <th>Title</th>
                <th colspan="3"></th>
              </tr>
            </thead>

           <tbody>
              <% @suggestions.each do |suggestion| %>
                <tr>
                  <td><%= link_to suggestion.title, suggestion %></td>
                  <td><%= pluralize(suggestion.votes.count, "vote") %></td>
                  <td><%= button_to 'I like this!', upvote_suggestion_path(suggestion), :class => "votebutton", method: :post %></td>
                  <td><%= link_to 'Terminate', suggestion, method: :delete, class: "admin", data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
        </table>
        <p>
          <div class="mybuttonz">
            <%= link_to "New Suggestion", new_suggestion_path %>
          </div>
        </p>
      </p>
      <br>
      <%= button_to "Admin View", "#", class: "adminbutton", remote: true %>
        <!-- The # sign converts this line to allow the button to give JS the space it needs
      to do its thing without linking to anyhere.-->
      <br>
    </div>
  </body>
</html>
