<p id="notice"><%= notice %></p>

<html>
<body class = "showbody">
<h1>What a Great Idea!</h1>
<div class = "showwords text">

<p>
  <strong>Title:</strong>
  <%= @suggestion.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<div class = "mybuttonz">
<%= link_to 'Edit my Suggestion', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back to Suggestions', suggestions_path %>
</div>

</div>
</body>
</html>
