<div class= "mybuttonz">
  <%= link_to "Home", static_pages_home_path %>
  <%= link_to "Swatch", static_pages_swatch_path %>
  <%= link_to "Fat Quarter", static_pages_fq_path %>
  <%= link_to "One Yard", static_pages_yard_path %>
  <%= link_to "Multiple Yards", static_pages_yardage_path %>
  <%= link_to "Resources", static_pages_resources_path %>
  <%= link_to "Suggestions", suggestions_path %>
  <%= link_to "Randomizer", static_pages_random_path %>
</div>

<!-- This is where the information for the navigation buttons is stored. Rather than
copying and pasting this chunk of code across all the static pages I made a partial.
This goes under views because it deals directly with the presentation of the application to the user -->
